body {
    background: #f9f9f9;
    color: #2c2c2c;
    font-family: Gill Sans, Arial, monospace;
  }
  
  h1{
    text-align: center;
  }

  .homepage-container{
    padding: 20px;
  }
  
  .pokedex-container {
    margin: auto 15%;
    gap: 20px;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
  }

  @media only screen and (max-width: 767px){
    .pokedex-container {
      margin: auto 5%;
      justify-content:space-evenly;
    }
  }

  @media only screen and (max-width: 600px){
    .pokedex-container {
      margin: 0;
    }
  }