.poke-card {
    width: 150px;
    cursor:pointer;
    text-decoration: none;
    color: #2c2c2c;
}

.poke-card .poke-screen::after, .poke-card .poke-screen img, .poke-card .poke-name, .pokeball-svg{
  transition: all .2s ease-out;
}

.poke-card .poke-screen {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.poke-card .poke-screen::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle 250px at  50% 130%, rgb(var(--bg-color)) 0%, rgb(var(--bg-color)) 54%, white 55%); 
  z-index: 0;
}

.poke-card .poke-screen::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, white);
  transition: opacity .5s ease;
  pointer-events: none;
  z-index: 0;
}

.poke-card:hover .poke-screen::after {
  opacity: 0; 
}

.poke-card .poke-screen img{
  height: 100px;
  position: relative;
  z-index: 2;
}

.poke-card:hover .poke-screen img {
  transform: scale(1.25);
}

.poke-card .pokeball-svg{
  z-index: 1;
  position: absolute;
  width: 60%;
  opacity: .5;
  filter: drop-shadow(0px 0px 15px rgb(var(--bg-color)));
}

.poke-card:hover .pokeball-svg{
  transform: rotate(-45deg);
  opacity: .75;
}

.poke-card .pokeball-svg path{
  fill: rgb(var(--bg-color));
}

.poke-card:hover .pokeball-svg path{
  fill: white;
}

.poke-card .poke-id{
  color:white;
  margin: 5px 5px 0px 0px;
  font-size: 0.8em;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  background: linear-gradient(var(--type-color), var(--type2-color));
  border-radius: 50em;
  padding: 2px 5px;
}

.poke-card .poke-name {
  text-transform: capitalize;
  position: absolute;
  font-size: .9em;
  bottom: 0;
  margin-bottom: 5px;
  z-index: 10;
}

.poke-card.active .poke-screen::after {
  opacity: 0; 
}

.poke-card.active .poke-screen img {
  transform: scale(1.25);
}

.poke-card.active .pokeball-svg{
  transform: rotate(-45deg);
  opacity: .75;
}

.poke-card.active .pokeball-svg path{
  fill: white;
}