body {
  background: #f5f5f5;
  color: #263238;
  font-family: 'Arial', monospace;
  padding: 20px;
}

h1{
  text-align: center;
}

.pokedex-container {
  margin: auto 10%;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;   
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  max-width: fit-content;
}